body {
    margin: 0;
    color: rgb(50, 50, 50);
    background: rgb(255, 255, 255);
    font-family: Verdana, sans-serif;
}

header {
    margin: 0;
    padding: 0 20px;
    height: 64px;
    line-height: 64px;
    background: rgb(239, 239, 239);
}

h1 {
    margin: 0;
    padding-left: 80px;
    background: url("../icons/icon128.png") no-repeat;
    background-size: 54px auto;
    background-position: 0 6px;

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    line-height: 64px;
    font-size: 14px;
    padding: 0 20px;
    background: rgb(239, 239, 239);
}

footer a {
    display: block;
    padding-left: 50px;
    color: rgb(33, 37, 42);
    text-decoration: none;
    background: url('../icons/logo64.png') no-repeat;
    background-position: center left;
}

a:hover {
    color: rgb(38, 169, 224);
    transition: color ease 250ms;
}
