body {
  padding: 0;
  margin: 0;
}

#password-picker {
    width: 90%;
    border: 2px solid #000;
    max-height: 375px;
    z-index: 999999;
}

#password-picker .tabs {
    position: static;
    height: 37px;
    background-color: #2874A6;
    margin-bottom: 0;
    float: left;
    width: 100%;
}

#password-picker .tabs .tab {
    float: left;
    margin-bottom: 0;
    padding: 10px 10px;
    color: #004378;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-shadow: #1D8348 1px 0 10px;
}

.small-btn {
    padding-left: 10px;
}

.pull-right {
    float: right !important;
}

#password-picker .tabs .active {
    color: #2874A6;
    background: #fff;
    text-shadow: none;
}

#password-picker .niceInputButtons {
    float: left;
    margin-top: 3px;
    margin-left: -3px;
}

#password-picker .tab-content {
    display: block;
    box-sizing: content-box;
    background: #fff;
    padding: 5px;
    padding-top: 45px;
    margin: 0;
    width: calc(100% - 11px);
    max-height: 330px;
    font-size: 15px;
}

#password-picker .tab-content .input-username {
    width: 90%;
}

#password-picker .tab-content .input-passwd {
    width: 50%;
    float: left;
}

#password-picker .niceInputButtons {
    margin-left: 1%;
}

#password-picker hr.usrpass-hr {
    margin-top: 10px;
}
